<app-nav-admin></app-nav-admin>
<div class="container">
    <h2>Formulaire Bordereau GAT</h2>
    <form [formGroup]="bordereauF" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="bulletinNum">Numéro Bulletin :</label>
        <input type="number" id="bulletinNum" formControlName="bulletinNum" />
      </div>
        <div class="form-group">
          <label for="type_act">type acte :</label>
          <input type="text" id="type_act" formControlName="type_act" />
        </div>
    
        <div class="form-group">
          <label for="montant_act_dep">montant depensé:</label>
          <input type="number" id="montant_act_dep" formControlName="montant_act_dep" />
        </div>
        <div class="form-group">
          <label for="montant_act_rembor">montant romboursé:</label>
          <input type="number" id="montant_act_rembor" formControlName="montant_act_rembor" />
        </div>

        <button type="submit" [disabled]="!bordereauF.valid">Ajouter</button>
    </form>
</div>