<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Matricule</th>
         <th>bord</th>
         <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bulletin of bulletins">
          <td>{{ bulletin.numBs }}</td>
        
          <td>
            <div *ngFor="let bordereau of bordereau">
              <div *ngIf="bordereau.bulletinNum === bulletin.numBs">
                {{ bordereau.type_act }}
              </div>
            </div>
          </td>
        
        </tr>
      </tbody>
    </table>
   
  </div>
 