.container {
    margin-top: 50px;
    margin-left: 250px;
  }
.detail-container,
  .bordereau-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f9fa;
  }