<app-nav></app-nav>
<div class="container">
<div class="details-section">
    <div  *ngFor="let detail of details" class="detail-container" >
      <h4>Details for Bulletin </h4>
      <ul>
        <li ><strong>Type d'Acte: </strong>{{ detail.type_act }}</li>
        <li><strong>Montant d'Acte Dépensé:</strong> {{ detail.montant_act_dep |currency:'TND':'symbol':'1.2-2' }}</li>
      </ul>
    </div>
  
    <div *ngFor="let bord of bordereau" class="bordereau-container">
      <h4>Bordereau for Bulletin </h4>
      <ul>
        <li ><strong>Type d'Acte:</strong> {{ bord.type_act }}</li>
        <li> <strong>Montant d'Acte Dépensé:</strong> {{ bord.montant_act_dep  |currency:'TND ':'symbol':'1.2-2'}}</li>
        <li><strong>Montant d'Acte Remboursé:</strong> {{ bord.montant_act_rembor|currency:'TND':'symbol':'1.2-2' }}</li>
      </ul>
    </div>
  </div>
</div>
